body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

h1{
    font-weight: 900;
    font-size: 50px;
}
.pink-highlight{
  color:#db0569 ;  
}
p{
   color: dimgray; 
}
.align{
    margin-top: 100px;
}
.right-align{
    margin-top: 100px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

.header-bg{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

section{
   height: 500px; 
   padding-bottom: 100px;
}

 .link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg, #e912b3,rgb(166, 71, 255));
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    
}

.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.work h2{
    text-align: center;
    font-size: 40px;

}

#latest-work{
    height: 400px; 
    padding-bottom: 100px;
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.work-images{
    width: 30%;
    height: 200px;
    float: left;
    margin-left: 3%;
    
}
.work-images img{
        width: 100%;
}



.client-feedback{
    text-align: justify;
    width: 30%;
    height: 300px;
    float: left;
    margin-left: 3%;
    margin-top: 100px;

    
}
.email{
    height: 150px;
    width: 60%;
    text-decoration: none;
    text-align: center;
    background-image:linear-gradient(45deg, hsl(335, 86%, 49%),#e91288);
    color: white;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 200px;
    margin-right: 180px;
    margin-bottom: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer p{
    text-align: center;
    font-size: 12px;
}
.footer-bg{
background-image: url(images/footer-bg.png);

}